<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">

<head>

<link rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<body>

<div layout:fragment="content">
    <script th:src="@{/js/dashboard.js}"></script>
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card-custom">
                <h5>Active Alerts</h5>
                <h2 id = "sum-calls">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-custom">
                <h5>Trash bins are full</h5>
                <h2 id = "noise-calls">0</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-custom">
                <h5>Open Manholes</h5>
                <h2 id = "manholes-calls">0</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-custom">
                <h5>Traffic issues</h5>
                <h2 id = "overcrowded-calls">0</h2>
            </div>
        </div>

    </div>

</div>

</body>
</html>